<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片删除</title>
    <style type="text/css">
body{
background-position: center top;
background-size: cover;
background-image:url(https://api.impco.cn/pc.php);
}
    </style>
</head>
<body>
<center>
    <font size="7" color="red">删除功能</font>
</center>
    <form method="post" enctype=multipart/form-data>
    <input type="text" name="number" placeholder="请输入编号，编号唯一" style="margin-left:46%; margin-top:10%; height:25px"><br>
    <button type="submit" style="margin-left:50%;  height:25px">删除</button>
</form>
</body>
</html>