<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片更新</title>
    <style type="text/css">
body{
background-position: center top;
background-size: cover;
background-image:url(https://api.impco.cn/pc.php);
}
    </style>
</head>
<body>
<center>
    <font size="7" color="red">更新功能</font>
</center>
    <form method="post" enctype=multipart/form-data>
    <input type="text" name="number" placeholder="请输入编号，编号唯一" style="margin-left:46%; margin-top:10%; height:25px"><br>
      <p style="margin-left:46%">请输入要修改的内容</p>
      <input type="text" name="wd" placeholder="例：author dianqi" style="margin-left:46%; height:25px"><br>
    <button type="submit" style="margin-left:50%;height:30px">修改</button>
</form>

</body>
</html>