<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用</title>
    <style type="text/css">
body{
background-position: center top;
background-size: cover;
background-image:url(https://api.impco.cn/pc.php);
}
 button{
    width: 200px;
    height:200px;
    position: absolute;
    border-style: none;
    margin-top:25%;
    border-radius:50%;

}

    </style>
</head>
<body>

    <font size="7" color="red" style="position: absolute;margin-top:10%;margin-left:45%;">欢迎使用!</font>


    <a href="http://127.0.0.1:5000/sousuo">
        <button style="margin-left:12%; background: url(https://cdn.jsdelivr.net/gh/yang-dian-qi/image/image1/be297bc5ly1gj906w5ly8j20jg0jgnb4.jpg)">
            <b style="color:red;font-size:50px"><big> 搜索</big></b></button>
    </a>
<a href="http://127.0.0.1:5000/index">
        <button style="margin-left:35%;background: url(https://cdn.jsdelivr.net/gh/yang-dian-qi/image/image1/be297bc5ly1gmj1oozluzj20jg0jgarz.jpg)">
            <b style="color:black;font-size:50px"><big> 插入</big></b></button></button>
    </a>
<a href="http://127.0.0.1:5000/update">
        <button style="margin-left:57%;background: url(https://cdn.jsdelivr.net/gh/yang-dian-qi/image/image1/be297bc5ly1gj906x75e8j20jg0jgap9.jpg)">
            <b style="color:orange;font-size:50px"><big> 更新</big></b></button></button>
    </a>
<a href="http://127.0.0.1:5000/delete">
        <button style="margin-left:79%;background: url(https://cdn.jsdelivr.net/gh/yang-dian-qi/image/image1/be297bc5ly1gj906woqncj20jg0jg7kp.jpg)">
            <b style="color:blue;font-size:50px"><big> 删除</big></b></button></button>
    </a>

</body>
</html>